body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background-image: url("../images/fireLogo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
greeting {
  font-size: 2rem;
  z-index: 3;
  color: #fff;
}