<!-- got the gallery from https://codepen.io/animation-mhzg/pen/rNZyXWM -->
<div>
  <p class="goodDay">good bye</p>
  <div class="full-gallery">
    <div class="image-gallery">
      <div class="gallery-items" onclick="fetchPage('about')">
        <div class="item">
          <img src="../images/mystDude.png" />
          <div class="item-title">
            <div class="transparent-back"></div>
            <div class="title-text">
              <p>Who is Andy!!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery-items" onclick="fetchPage('lists')">
        <div class="item">
          <img src="../images/checklist.png" />
          <div class="item-title">
            <div class="transparent-back"></div>
            <div class="title-text">
              <p>Look some lists!!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery-items" onclick="fetchPage('links')">
        <div class="item">
          <img src="./images/links.png" />
          <div class="item-title">
            <div class="transparent-back"></div>
            <div class="title-text">
              <p>Some Cool Links</p>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery-items">
        <div class="item">
          <img src="./images/funny.png" />
          <div class="item-title" onclick="fetchFunny()">
            <div class="transparent-back"></div>
            <div class="title-text">
              <p>How about a good laugh?</p>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery-items" onclick="fetchPage('vote')">
        <div class="item">
          <img src="./images/survey.png" />
          <div class="item-title">
            <div class="transparent-back"></div>
            <div class="title-text">
              <p>Could you take a survey??</p>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery-items" onclick="fetchPage('tables')">
        <div class="item">
          <img src="./images/table.png" />
          <div class="item-title">
            <div class="transparent-back"></div>
            <div class="title-text">
              <p>free Tables</p>
              <p>yes it's free</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
