<div class="container-fluid py-4">
    <nav class="btn-group mb-4 w-100" role="group">
        <button class="btn btn-outline-primary btn-info" onclick="startStandalone()">🎲 Dice Utility</button>
        <button class="btn btn-outline-primary btn-info" onclick="startCrabs()">🎮 Casino Craps</button>
        <button class="btn btn-outline-primary btn-info" onclick="window.startDiceSimulator()">Roll Dice 1000x</button>
</li>

    </nav>

    <div class="row g-4">
        <!-- Main Game Area -->
        <div id="crabs-container" class="col-12 col-md-8"></div>
        
        <!-- Dice Sidebar -->
        <div id="dice-sidebar" class="col-12 col-md-4 d-flex flex-column"></div>
        <!-- 1000x dice chart -->
         <div id="myChart" style="width: 100%; min-height: 500px;"></div>
    </div>
</div>
<script src="js/diceRoller.js"></script>
<script src="js/crabs.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="js/DiceChart.js"></script>
