
<div>

<h1>Some Cool Links</h1>

<div class="gallery">

  <div class="gallery-item">
    <a target="_blank"  href="https://www.w3schools.com">
      <img src="../images/w3schools.png" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">w3 Schools</div>
  </div>

  <div class="gallery-item neonBorder">
    <a target="_blank"  href="https://www.crunchyroll.com/series/GRMG8ZQZR/one-piece?srsltid=AfmBOopP0fPOiqGyNkKAY0o1lA8Dt4OpYZWNw4AbzoPflYtr-7XBaoaC">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5dthTUOe8cGnuuXFH3Kt5mHbjw5BHdLvkDg&s"  width="600" height="400">
    </a>
    <div class="desc">Crunchyroll</div>
  </div>
  <div class="gallery-item">
    <a target="_blank"  href="https://openai.com/">
      <img src="../images/openai.png"  width="600" height="400">
    </a>
    <div class="desc">OpenAI</div>
  </div>
  <div class="gallery-item ">
    <a target="_blank" href="https://github.com/">
      <img src="../images/github.png" width="600" height="400">
    </a>
    <div class="desc">github</div>
  </div>
  <div class="gallery-item">
    <a target="_blank" href="https://en.wikipedia.org/wiki/Dark_Souls_II#Gameplay">
      <img src="../images/darksouls.jpeg" width="600" height="400">
    </a>
    <div class="desc">Dark Souls</div>
  </div>
</div>

</div>


</html>


