<div>
  <article class="dns">
    <h2>What is DNS?</h2>
    In simple terms, the Domain Name System (DNS) is like the internet's
    phonebook, translating human-readable website names (like "google.com") into
    the numerical IP addresses (like "172.217.16.46") that computers use to
    <i>call out to </i>websites. When you type a website address into your
    browser, your computer <i>looks up the phone number</i> through a DNS server
    for the the IP address, which it then uses to <i>dial</i> to the server
    hosting the site. This system makes it easier for people to navigate the web
    without needing to remember complex strings of numbers.
  </article>
</div>
