
<div>
    <div class="container text-center">
    <div class="emptyspace"></div>
    <div class="row">
        <div class="col " >
            <ul class="list-group neonBorder hate specialList">
                <h3 class="namePlate">People I Can't Stand</h3>
                <li class="list-group-item">Trump</li>
                <li class="list-group-item">Elan Musk</li>
                <li class="list-group-item">Jack Black</li>
                <li class="list-group-item">Rob Zombie</li>
            </ul>
        </div>
    <div class="col neonBorder musicAlbums"  >
        <h3 class="namePlate">Top 5 Music albums</h3>
        <ol class="list-group list-group-numbered">
            <li class="list-group-item"> Beavis and Butthead experience</li>
            <li class="list-group-item">Top Gun Soundtrack</li>
            <li class="list-group-item">Korn: follow the leader</li>
            <li class="list-group-item">Modest Mouse: good news for people who like bad news</li>
            <li class="list-group-item">The Highwaymen</li>
        </ol>
        </div>   
    </div>
    <div class="row neonBorder" id="biker">
        <div class="col ">
            <!-- source from https://www.rei.com/learn/expert-advice/mountain-biking-manual.html -->
            <h3 class="namePlate">How to manual a bike!!</h3>
            <dl>
                <dt><b>Getting the Front Wheel Up</b>
                    To get the front wheel off the ground, you need to preload and punch.</dt>
                <dd >- Preload: The preload part is pretty straightforward. You push your weight down into the bike to preload the suspension. This'll give you some rebounding energy that'll help get the wheel up.</dd>
                <dd>- Punch: As soon as you're low over the seat, it's time for the punch. As quick as you can, push your feet and arms forward and throw your weight back. You want to keep your arms locked straight so that it's your weight that brings that wheel up rather than pulling the wheel up with your arms.</dd>
                <dt><b>Balancing</b>
                    Now that the wheel's up, you can work on holding it there by balancing.</dt>
                <dd>- It's all in the hips: The key to balancing a manual is in your hips. Keep your hips low and over the back wheel, and move them forward and back to stay in balance.</dd>
                <dd>- Keep a finger on the brakes: Keep your finger on the rear brake—if you feel like you're going to tip backwards, all it takes is one tap on the brake and your front wheel will drop down.</dd>
            </dl>
        </div>
        
    </div>
</div>
    
    

</div>
</html>