
<div>
    <div class="container"  >
        <button onclick="chuckUp();techUp();jokeUp()">Reload Jokes</button>
        <div class="row container"  >
            <div class="col imgBox chuckBox">
                <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVAA8woXUTaDHekpxmgY9WhjfvbP9DWtycbg&s" alt="Chuck Norris image" style="width: 100%;">
                <a class="plater">Chuck Norris Jokes</a>
                <a id="norrisJoke" class="joke">fjksdjfkjd</a>
            </div>
            <div class="col imgBox">
                <img src="https://thumbs.dreamstime.com/b/cartoon-mad-scientist-electrified-hair-exploding-chalkboard-goggles-stands-front-equations-retro-comic-style-387650312.jpg"><img>
                <a class="plater">Tech Jokes</a>
                <a id="techJoke" class="joke">fjksdjfkjd</a>
            </div>
        </div>    
            <div class="row imgBox techy" style="max-height: 20vh;">
                <a class="plater">Just Jokes</a>
                <p id="justJokes" class="jokeTop bubble">fjksdjfkjd</p>
                <img class="jokeImage" src="https://www.shutterstock.com/shutterstock/photos/418834234/display_1500/stock-vector-two-happy-cartoon-boys-making-jokes-vector-image-eps-418834234.jpg"><img>
                
                <a id="bottomJoke" class="jokeBottom bubble">fjksdjfkjd</a>
            </div>
        <div onload="chuckUp();techUp();jokeUp()">
        </div>
        </div>
</div>

</div>

