<div>
  <div class="container py-4">
    <div class="row text-center g-3">
      <div class="col-12 col-md-4">
        <div class="p-3 border rounded artBg">
          <h3 class="animeTitle text-center text-decoration-underline">
            Re: Zero - Starting Life in Another World
          </h3>
          <article class="text-break animeText">
            Suddenly, high school student Subaru Natsuki has been summoned to
            another world on the way back from the convenience store. With the
            biggest crisis of his life being summoned to another world, and with
            no sign of the one who summoned him, things become even worse when
            he is attacked. But when he is saved by a mysterious, silver-haired
            girl with a fairy cat, Subaru cooperates with her to return the
            favor. When they finally manage to get a clue, Subaru and the girl
            are attacked and killed by someone. Subaru then awakens in the place
            he was summoned and notices he gained the ability "Returns by Death"
            and has become a helpless boy that only has the ability to rewind
            time by dying. Beyond the despair, can he save the girl from the
            fate of death?
          </article>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="p-3 border artBg rounded">
          <h3 class="animeTitle text-center text-decoration-underline">
            Attack on Titan
          </h3>
          <article class="text-break animeText">
            When man-eating Titans first appeared 100 years ago, humans found
            safety behind massive walls that stopped the giants in their tracks.
            But the safety they have had for so long is threatened when a
            colossal Titan smashes through the barriers, causing a flood of the
            giants into what had been the humans' safe zone. During the carnage
            that follows, soldier Eren Jaeger sees one of the creatures devour
            his mother, which leads him to vow that he will kill every Titan. He
            enlists some friends who survived to help him, and that group is
            humanity's last hope for avoiding extinction at the hands of the
            monsters.
          </article>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="p-3 border artBg rounded">
          <h3 class="animeTitle text-center text-decoration-underline">
            Demon Slayer: Kimetsu no Yaiba,
          </h3>
          <article class="text-break animeText">
            Demon Slayer is about a young boy named Tanjiro Kamado whose family
            is massacred by a demon, except for his sister, Nezuko, who is
            turned into a demon herself. Driven by a desire to cure his sister
            and avenge his family, Tanjiro joins the Demon Slayer Corps, an
            organization of swordsmen who hunt and kill demons. The story
            follows his journey to become a powerful demon slayer, his bonds
            with other corps members, and their ultimate goal to defeat the
            Demon King
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
