<div>
    <h1>Class Schedule</h1>
   <table class="tablechart">
  <tr>
    <th>Time of day</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wedsday</th>
    <th>thursday</th>
    <th>friday</th>
    
  </tr>
  <tr>
    <td>09:10 - 10:10am</td>
    <td> Network os</td>
    <td> Network os</td>
    <td> Network os</td>
    <td> Network os</td>
    <td> Network os</td>
  </tr>
  <tr>
    <td>10:10- 12:45pm</td>
    
  </tr>
  <tr>
    <td>12:45-1:40pm</td>
    <td>Sql</td><td>Sql</td><td>Sql</td><td>Sql</td><td>Sql</td>
  </tr>
   <tr>
    <td>1:45-2:40pm</td>
    <td>Python</td><td>Python</td><td>Python</td><td>Python</td><td>Python</td>
  </tr>
  </tr>
   <tr>
    <td>3:45-6:00pm</td>
    <td></td><td>2d Art</td><td></td><td>2d art</td><td></td>
  </tr>
  
</table>
<h1>Rolling Stone's Top 5 Singers Of All Time</h1>
<table>
    <tr>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
    </tr>
    <tr>
        <th>Aretha Franklin</th>
        <th>Whitney Houston</th>
        <th>Sam Cooke</th>
        <th>Billie Holiday</th>
        <th>Mariah Carey</th>
    </tr>

</table>
</div>
